<%- include('./includes/header') %>
<section>
  <div class="container">
    <div class="header">
      <h1>Welcome Our Blog Site.</h1>
      <a href="/admin/create-post">Create Post</a>
    </div>
    <% if (posts.length === 0) { %>
    <div>
      <p>Nothing to see</p>
      <p>Create a new post!</p>
      <a href="/admin/create-post">Create post</a>
    </div>
    <% } %>
    <div class="post-container">
      <% for (let post of posts) { %>
      <div class="post">
        <h3><%=post.title%></h3>
        <a href="/posts/detail/<%= post._id %>">See More...</a>
      </div>
      <% } %>
    </div>
  </div>
</section>
<%- include('./includes/footer')%>
